:root {
    --fuente1: 'Fraunces', serif;
    --fuente2: 'Lobster', cursive;
    --color1: #463F3A;
    --color2: #8A817C;
    --color3: #BCB8B1;
    --color4: #F4F3EE;
    --color5: #E0AFA0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*1 rem = 10px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuente1);
    font-size: 1.6rem;
    line-height: 2;
}


/* Globales */

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuente2);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

img {
    max-width: 100%;
}


/* Utilidades */

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}


/* Header */

.header {
    background-image: url(../img/banner.jpg);
    height: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header__texto {
    text-align: center;
    color: var(--color4);
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .header__texto {
        margin-top: 15rem;
    }
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    color: var(--color4);
}

.logo h1 {
    font-family: var(--fuente1);
}

.logo__nombre {
    font-weight: 100;
}

.logo__bold {
    font-weight: bold;
}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--color4);
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}